In [1]:
import pandas as pd
import numpy as np
import pandas_profiling
import matplotlib.pyplot as plt
import seaborn as sns


%matplotlib inline
import warnings
warnings.filterwarnings(action='ignore')

In [2]:
company = pd.read_csv("data/기업정보.csv", encoding="cp949")
job = pd.read_csv("data/채용정보.csv", encoding = "cp949")

In [3]:
company.head()

,기업일련번호,업체국문명,업체영문명,기업한줄소개내용,기업소개상세내용,설립일자,구성원수,누적투자유치금액,홈페이지url,소셜미디어url,기업추천수,기업추천내용,산업구분명,사무실주소,기술스택명,발행사명,보도일자,뉴스제목명,기사url
0,161069,코뿔소랩,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,116057,현대제이콤,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,161065,지티투자개발,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,161066,동성아트홀,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,161072,오픈부스,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
job.head()

,채용일련번호,기업일련번호,채용분야명,경력구분명,고용형태명,연봉최소금액,연봉최대금액,스톡옵션최소금액,스톡옵션최대금액,관련전문기술명,외국어명
0,113585,130540,SW 개발,경력,풀타임,3000.0,8000.0,NaN,NaN,Java||backend||SpringBoot2||spring-security-oa...,NaN
1,113670,90232,디자인,경력,풀타임,1.0,1.0,NaN,NaN,UI/UX디자인,NaN
2,113616,107763,SW 개발,경력||신입,풀타임|| 병역대체,3000.0,10000.0,NaN,NaN,Python||Django||Git||Java||Front-end||Back-end...,NaN
3,113572,116944,SW 개발,경력,풀타임,3000.0,6000.0,NaN,NaN,간편결제||결제서비스||PG/VAN||기술지원||개발 ||웹개발,NaN
4,113652,88124,SW 개발,경력||신입,풀타임,4200.0,6000.0,0.1,1.0,React||JavaScript||Three.js,NaN

In [5]:
company.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63219 entries, 0 to 63218
Data columns (total 19 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   기업일련번호    63219 non-null  int64
 1   업체국문명     63187 non-null  object
 2   업체영문명     19694 non-null  object
 3   기업한줄소개내용  20315 non-null  object
 4   기업소개상세내용  14777 non-null  object
 5   설립일자      18703 non-null  float64
 6   구성원수      2906 non-null   object
 7   누적투자유치금액  2445 non-null   float64
 8   홈페이지url   12775 non-null  object
 9   소셜미디어url  4885 non-null   object
 10  기업추천수     63219 non-null  int64
 11  기업추천내용    5504 non-null   object
 12  산업구분명     21233 non-null  object
 13  사무실주소     11296 non-null  object
 14  기술스택명     6590 non-null   object
 15  발행사명      6080 non-null   object
 16  보도일자      6410 non-null   float64
 17  뉴스제목명     6406 non-null   object
 18  기사url     6410 non-null   object
dtypes: float64(3), int64(2), object(14)
memory usage: 9.2+ MB

In [6]:
job.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6873 entries, 0 to 6872
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   채용일련번호    6873 non-null   int64
 1   기업일련번호    6873 non-null   int64
 2   채용분야명     6873 non-null   object
 3   경력구분명     6873 non-null   object
 4   고용형태명     6873 non-null   object
 5   연봉최소금액    6706 non-null   float64
 6   연봉최대금액    6106 non-null   float64
 7   스톡옵션최소금액  474 non-null    float64
 8   스톡옵션최대금액  746 non-null    float64
 9   관련전문기술명   6872 non-null   object
 10  외국어명      875 non-null    object
dtypes: float64(4), int64(2), object(5)
memory usage: 590.8+ KB

In [7]:
print(company.shape)
print(job.shape)

(63219, 19)
(6873, 11)

In [8]:
company.isnull().sum()

기업일련번호          0
업체국문명          32
업체영문명       43525
기업한줄소개내용    42904
기업소개상세내용    48442
설립일자        44516
구성원수        60313
누적투자유치금액    60774
홈페이지url     50444
소셜미디어url    58334
기업추천수           0
기업추천내용      57715
산업구분명       41986
사무실주소       51923
기술스택명       56629
발행사명        57139
보도일자        56809
뉴스제목명       56813
기사url       56809
dtype: int64

In [9]:
job.isnull().sum()

채용일련번호         0
기업일련번호         0
채용분야명          0
경력구분명          0
고용형태명          0
연봉최소금액       167
연봉최대금액       767
스톡옵션최소금액    6399
스톡옵션최대금액    6127
관련전문기술명        1
외국어명        5998
dtype: int64

In [10]:
company_2 = company.loc[:,['기업일련번호','업체국문명', '기술스택명']]
job_2 = job.drop(['스톡옵션최소금액', '스톡옵션최대금액', '외국어명'], axis = 1)

In [11]:
job_2['연봉최소금액'] = job_2['연봉최소금액'].fillna(0)
job_2['연봉최대금액'] = job_2['연봉최대금액'].fillna(0)

In [12]:
job_2['연봉최소금액'] = job_2['연봉최소금액'].astype('int')
job_2['연봉최대금액'] = job_2['연봉최대금액'].astype('int')

In [13]:
job_2['연봉최소금액'].value_counts()

3000    1874
4000    1004
5000     507
2400     493
3500     388
        ...
2450       1
2980       1
2996       1
6200       1
4030       1
Name: 연봉최소금액, Length: 151, dtype: int64

In [14]:
for i in range(0, len(job_2)):
    if job_2['연봉최소금액'][i] >= 10000000:
        job_2['연봉최소금액'][i] = job_2['연봉최소금액'][i] / 10000
for i in range(0, len(job_2)):
    if job_2['연봉최대금액'][i] >= 10000000:
        job_2['연봉최대금액'][i] = job_2['연봉최대금액'][i] / 10000

In [15]:
for i in range(0, len(job_2)):
    if job_2['연봉최소금액'][i] == 1:
        job_2['연봉최소금액'][i] = 0
for i in range(0, len(job_2)):
    if job_2['연봉최대금액'][i] == '1':
        job_2['연봉최대금액'][i] = 0

In [16]:
job_2['연봉최소금액'].describe()

count    6.873000e+03
mean     4.007925e+03
std      3.623316e+04
min      0.000000e+00
25%      2.800000e+03
50%      3.000000e+03
75%      4.000000e+03
max      2.700000e+06
Name: 연봉최소금액, dtype: float64

In [17]:
job_2['연봉최대금액'].describe()

count    6.873000e+03
mean     6.933431e+03
std      5.317284e+04
min      0.000000e+00
25%      3.500000e+03
50%      5.000000e+03
75%      7.000000e+03
max      3.200000e+06
Name: 연봉최대금액, dtype: float64

In [18]:
data_inner = pd.merge(company_2, job_2, how = 'inner', on = '기업일련번호')
data_inner

,기업일련번호,업체국문명,기술스택명,채용일련번호,채용분야명,경력구분명,고용형태명,연봉최소금액,연봉최대금액,관련전문기술명
0,122278,3J,express.js||HTML||CSS||Node.js||MySQL||JavaScr...,104471,SW 개발,경력,풀타임,3000,5000,MySQL||aws||Node JS
1,122278,3J,express.js||HTML||CSS||Node.js||MySQL||JavaScr...,104467,SW 개발,경력,풀타임,3000,5000,Java||CSS||HTML||Express JS
2,161084,세모컴퍼니,NaN,114083,마케팅,경력||신입,풀타임,2800,3000,콘텐츠디자인||브랜드디자인||광고디자인||마케팅디자인||UI/UX디자인||크리에이티...
3,160464,노디션,NaN,113446,경영지원,경력,풀타임,3500,4000,비즈니스 전략||신사업 기획
4,160896,더퓨쳐컴퍼니,NaN,113913,게임 개발,경력,풀타임,8000,9000,Unity 3D||게임 클라이언트 개발||optimization
...,...,...,...,...,...,...,...,...,...,...
6838,90069,인공지능연구원,NaN,94307,SW 개발,경력||신입,풀타임,2400,8000,JavaScript||Python||WPF||C# & WPF||wf||DOM||RP...
6839,90069,인공지능연구원,NaN,80279,SW 개발,경력,풀타임,3000,8000,JavaScript||Python||WPF||C# & WPF||wf||DOM||RP...
6840,76730,그린라이즈,NaN,113728,기획/PM,경력||신입,풀타임,2600,0,컨텐츠 기획||서비스 기획||웹/앱 기획||기획자||UI/UX ||모바일서비스기획|...
6841,76730,그린라이즈,NaN,113660,마케팅,경력||신입,풀타임,2600,0,쇼핑몰 운영||카페24||쇼핑몰운영/관리||cs||서비스운영||cafe24||온라인...
6842,122160,슬기로움,Slack||Google Analytics||GitHub||JANDI||Amazon...,85852,마케팅,인턴||경력||신입,풀타임,2400,2400,온라인마케팅||소셜마케팅||블로그||앱마케팅||페이스북||디지털마케팅||콘텐츠마케팅

In [19]:
data_inner['채용분야명'].unique() # SW 개발, 게임 개발

array(['SW 개발', '마케팅', '경영지원', '게임 개발', 'HW 개발', '기획/PM', '디자인', '운영',
       '비즈니스', '투자'], dtype=object)

In [20]:
sw = data_inner[data_inner['채용분야명'] == 'SW 개발']
sw.shape

(3355, 10)

In [21]:
game = data_inner[data_inner['채용분야명'] == '게임 개발']
game.shape

(36, 10)

In [22]:
dev_data = pd.concat([sw,game])
dev_data.head()

,기업일련번호,업체국문명,기술스택명,채용일련번호,채용분야명,경력구분명,고용형태명,연봉최소금액,연봉최대금액,관련전문기술명
0,122278,3J,express.js||HTML||CSS||Node.js||MySQL||JavaScr...,104471,SW 개발,경력,풀타임,3000,5000,MySQL||aws||Node JS
1,122278,3J,express.js||HTML||CSS||Node.js||MySQL||JavaScr...,104467,SW 개발,경력,풀타임,3000,5000,Java||CSS||HTML||Express JS
11,160805,(주)빅팟,GitHub||노션||Slack||Amazon AWS||yarn||npm||HTML...,113668,SW 개발,인턴||경력||신입,풀타임,5000,6000,Node.js||풀스택개발||Back-end||Git||React||Amazon A...
13,160459,(주)서브원,NaN,113184,SW 개발,경력,풀타임,5000,10000,Java||Spring||SQL||HTML/CSS
20,147068,(주)메일플러그,NaN,97765,SW 개발,경력||신입,풀타임,4400,0,Android||iOS||Kotlin||Swift||RxSwift||MVVM||Xc...

In [23]:
dev_data = dev_data.reset_index(drop=True)

In [24]:
len(dev_data)

3391

In [25]:
drop_list = []
for i in range(len(dev_data)):
    if 'QA' in dev_data['관련전문기술명'][i]:
        drop_list.append(i)
print(len(drop_list))

41

In [26]:
dev_data.drop(drop_list, axis = 0, inplace=True)

In [27]:
dev_data = dev_data.reset_index(drop=True)

In [28]:
len(dev_data)

3350

In [29]:
dev_data['경력구분명'].value_counts()

경력            2086
경력||신입         860
인턴||경력||신입     265
신입              70
인턴||신입          35
인턴              29
인턴||경력           5
Name: 경력구분명, dtype: int64

In [30]:
dev_data['고용형태명'].value_counts()

풀타임                         2954
풀타임|| 병역대체                   133
풀타임|| 파트타임                    99
풀타임|| 파트타임|| 프리랜서             77
풀타임|| 프리랜서                    48
프리랜서                          19
병역대체                           8
풀타임|| 파트타임|| 프리랜서|| 병역대체       4
파트타임|| 프리랜서                    3
파트타임                           3
풀타임|| 파트타임|| 병역대체              2
Name: 고용형태명, dtype: int64

In [31]:
senior = []
junior = []
intern = []
for i in dev_data['경력구분명']:
    if '경력' in i:
        senior.append(1)
    else:
        senior.append(0)
for i in dev_data['경력구분명']:
    if '신입' in i:
        junior.append(1)
    else:
        junior.append(0)
for i in dev_data['경력구분명']:
    if '인턴' in i:
        intern.append(1)
    else:
        intern.append(0)

In [32]:
dev_data['경력'] = pd.Series(senior)
dev_data['신입'] = pd.Series(junior)
dev_data['인턴'] = pd.Series(intern)

In [33]:
full = []
part = []
free = []
mili = []
for i in dev_data['고용형태명']:
    if '풀타임' in i:
        full.append(1)
    else:
        full.append(0)
for i in dev_data['고용형태명']:
    if '파트타임' in i:
        part.append(1)
    else:
        part.append(0)
for i in dev_data['고용형태명']:
    if '프리랜서' in i:
        free.append(1)
    else:
        free.append(0)
for i in dev_data['고용형태명']:
    if '병역대체' in i:
        mili.append(1)
    else:
        mili.append(0)

In [34]:
dev_data['풀타임'] = pd.Series(full)
dev_data['파트타임'] = pd.Series(part)
dev_data['프리랜서'] = pd.Series(free)
dev_data['병역대체'] = pd.Series(mili)

In [35]:
print(dev_data['관련전문기술명'].isnull().sum())
print(dev_data['기술스택명'].isnull().sum())

0
738

In [36]:
for i in range(0, len(dev_data['관련전문기술명'])):
    dev_data['관련전문기술명'][i] = dev_data['관련전문기술명'][i].replace(' ', '')

In [37]:
stack_list = []
stack_list2 = []
for i in dev_data['관련전문기술명']:
    stack_list.append(i.split('||'))
    for j in i.split('||'):
        stack_list2.append(j)

In [38]:
stack_pd = pd.DataFrame(stack_list)
stack_pd.shape

(3350, 66)

In [39]:
stack_pd.head(10)

,0,1,2,3,4,5,6,7,8,9,...,56,57,58,59,60,61,62,63,64,65
0,MySQL,aws,NodeJS,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,Java,CSS,HTML,ExpressJS,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,Node.js,풀스택개발,Back-end,Git,React,AmazonAWS,MongoDB,HTML5,Next.js,ExpressJS,...,None,None,None,None,None,None,None,None,None,None
3,Java,Spring,SQL,HTML/CSS,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,Android,iOS,Kotlin,Swift,RxSwift,MVVM,Xcode,아이폰,안드로이드,모바일앱개발,...,None,None,None,None,None,None,None,None,None,None
5,AmazonAWS,Back-end,web,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
6,Full-stackDeveloper,fullstack,Full-stackEngineer,fullstackweb,hybrid-mobile-app,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
7,react-native,React.js,HTML5,CSS,RESTful-api,WebSocket,React,None,None,None,...,None,None,None,None,None,None,None,None,None,None
8,devops,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
9,Java,Spring,dbms,SQL,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [40]:
stack_pd_2 = pd.DataFrame(stack_list2, columns = ['stack'])

In [41]:
dev_data['관련전문기술'] = pd.Series(stack_list)

In [42]:
dev_data

,기업일련번호,업체국문명,기술스택명,채용일련번호,채용분야명,경력구분명,고용형태명,연봉최소금액,연봉최대금액,관련전문기술명,경력,신입,인턴,풀타임,파트타임,프리랜서,병역대체,관련전문기술
0,122278,3J,express.js||HTML||CSS||Node.js||MySQL||JavaScr...,104471,SW 개발,경력,풀타임,3000,5000,MySQL||aws||NodeJS,1,0,0,1,0,0,0,"[MySQL, aws, NodeJS]"
1,122278,3J,express.js||HTML||CSS||Node.js||MySQL||JavaScr...,104467,SW 개발,경력,풀타임,3000,5000,Java||CSS||HTML||ExpressJS,1,0,0,1,0,0,0,"[Java, CSS, HTML, ExpressJS]"
2,160805,(주)빅팟,GitHub||노션||Slack||Amazon AWS||yarn||npm||HTML...,113668,SW 개발,인턴||경력||신입,풀타임,5000,6000,Node.js||풀스택개발||Back-end||Git||React||AmazonAW...,1,1,1,1,0,0,0,"[Node.js, 풀스택개발, Back-end, Git, React, AmazonA..."
3,160459,(주)서브원,NaN,113184,SW 개발,경력,풀타임,5000,10000,Java||Spring||SQL||HTML/CSS,1,0,0,1,0,0,0,"[Java, Spring, SQL, HTML/CSS]"
4,147068,(주)메일플러그,NaN,97765,SW 개발,경력||신입,풀타임,4400,0,Android||iOS||Kotlin||Swift||RxSwift||MVVM||Xc...,1,1,0,1,0,0,0,"[Android, iOS, Kotlin, Swift, RxSwift, MVVM, X..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3345,3536,플라이셔,NaN,94023,게임 개발,경력,풀타임,3200,8500,Spine||cocos,1,0,0,1,0,0,0,"[Spine, cocos]"
3346,3536,플라이셔,NaN,94025,게임 개발,경력,풀타임,3200,8500,2D애니메이션,1,0,0,1,0,0,0,[2D애니메이션]
3347,3536,플라이셔,NaN,94030,게임 개발,경력,풀타임,3200,8500,C++||JavaScript,1,0,0,1,0,0,0,"[C++, JavaScript]"
3348,2772,앤서스랩,NaN,81168,게임 개발,경력||신입,풀타임,3000,8000,Back-end,1,1,0,1,0,0,0,[Back-end]
3349,89085,다비랩스,Google Apps||gulp||webpack||GitHub||Node.js||P...,99868,게임 개발,경력||신입,풀타임,4300,0,Android||iOS||MySQL||Python||Node.js||unity||p...,1,1,0,1,0,0,0,"[Android, iOS, MySQL, Python, Node.js, unity, ..."

In [43]:
stack_pd_2 = stack_pd_2.replace(['javascript', 'Javascript(ES6+)', 'Javascript(ES6)', 'JAVASCRIPT(JQUERY))', 'javacript', 'ModernJavaScript', 'Javascript(ES6/ES7)', 'javascirpt', 'Javasciprt', 'JavaScript(ES5)', 'Ajax', '#AJAX'], 'JavaScript')
stack_pd_2 = stack_pd_2.replace(['HTML5', 'HTML/CSS', 'HTML&CSS3', 'html/css', 'javacript', 'Front-end개발(HTML', '웹퍼블리싱(HTML', 'HTML/pug', '#HTML5', '웹프론트엔드개발(HTML5', 'HTML·퍼블리싱·UI개발', 'HTML5/CSS3'], 'HTML')
stack_pd_2 = stack_pd_2.replace(['ai', '음성인식인공지능(AI)', 'AI기획', '신사업기획(AI)', 'AIdatascientist', 'AI영상합성', 'ML/AI'], 'AI(인공지능)')
stack_pd_2 = stack_pd_2.replace(['BigData', 'bigdata', '빅데이터분석'], '빅데이터')
stack_pd_2 = stack_pd_2.replace(['백엔드개발', '백엔드개발자', '백엔드', '웹백엔드개발(Java/Spring/Oracle/MySQL)', '백엔드기술Java', '서버/백엔드', '백엔드개발(Node.JS)', '백엔드서버개발자', '웹백엔드', '웹백엔드개발(Python/Django)', '헤드헌팅#구인구직#구인#채용#BackEnd#백엔드#개발#MSA#API#java8#RDBMS#MySQL#Git#Jira#wiki#Docker#Kafka#Redis#React#Junit', '웹백엔드개발', 'Java#자바#백엔드', '웹백엔드개발(Java/Spring/MySQL)', '백엔드기술:Java(spring-boot', '웹백엔드(Struts', 'FlutterDartFlutter&DartSlackVue.jsGitJavaScriptTrelloNode.js' ,'JavaScript/nodeJS', 'JAVA/SPRING/JAVASCRIPT/JQUERY/AJAX', 'PythonDjango', 'pythonflask', 'ASP.NET'], 'Back-end')
stack_pd_2 = stack_pd_2.replace(['웹개발', 'WebService', 'WebFront-end', '프론트엔드개발', '웹프론트엔드개발(HTML5/CSS3/JavaScript/Vue.js)', '프론트엔드', '프론트엔드개발자', '웹프론트엔드', '웹프론트엔드개발', '프론트엔드개발(HTML/CSS3/Javascript)', '프론트엔드개발(ReactJS', '프론트엔드개발(Vue.js)', '프론트개발', '프론트엔드리액트', '프론트', 'TV프론트엔드', '프론트앤드채용', 'OTT프론트엔드', '프론트앤드기획', '프론트엔드및개발(워드프레스기반)', '웹프론트엔드개발(HTML5', '프론트엔드개발(React.js)'], 'Front-end')
stack_pd_2 = stack_pd_2.replace(['풀스택개발자', '풀스택', 'fullstack', 'full-stackdevelopment', 'Full-stackDeveloper', 'Full-stackEngineer', 'fullstackweb', 'FullstackDevelopment'], '풀스택개발')
stack_pd_2 = stack_pd_2.replace(['AOS앱개발', 'Android앱개발', 'RxAndroid', 'AndroidStudio', 'rx-android', 'Android-Java', 'AndroidNDK', 'android-wear', 'AndroidSDK', 'AndroidNative', 'Android앱', 'android-camera', 'AndroidX', 'android앱개발', 'android-ui', 'android-recyclerview', 'android플랫폼', 'android-api', 'android-library', 'AndroidArchitectureComponents', '안드로이드앱개발', '안드로이드개발', '안드로이드', '안드로이드개발자'], 'Android')
stack_pd_2 = stack_pd_2.replace(['ios앱개발', 'iOSDeveloper', 'ios-sdk', 'ios-autolayout', 'ios개발자', 'iOS앱개발', 'iOS/AOS', 'ios-frameworks', 'IOS개발', 'iOS_Developer#Swift#RestAPI', 'swift-ios'], 'iOS')
stack_pd_2 = stack_pd_2.replace(['Tensorflow', 'TensorFlowLite', '텐서플로우'], 'TensorFlow')
stack_pd_2 = stack_pd_2.replace(['MachineLearning(머신러닝)', 'Keras등머신러닝/딥러닝', '머신러닝NLP', 'MachineLearning', 'machine-learning', 'MachineLearning(머신러닝)' ,'AzureMachineLearning' ,'MachineLearning/DeepLearning' ,'machine-vision' ,'Neuralmachinetranslation', 'QuantDeveloper'], '머신러닝')
stack_pd_2 = stack_pd_2.replace(['DeepLearning(딥러닝)', '딥러닝이미지분석', 'saas', '데이터분석/딥러닝모델개발', 'deep-learning', 'ML/DeepLearning', 'DeepLearning' ,'deepspeech' ,'Deep-learningGAN' ,'영상처리영상인식DeepLearningNeuralNetwork패턴인식TensorFlowTheano' ,'deeplearningaccelerator', 'deeplearing', 'Deep Learning (딥러닝)', 'Keras 등 머신러닝/딥러닝 ', 'tts', 'STT', 'wav2vec'], '딥러닝')
stack_pd_2 = stack_pd_2.replace(['데이터분석', '데이터사이언스', '데이터모델링' ,'데이터베이스' ,'데이터사이언티스트' ,'데이터마이닝', '빅데이터마이닝', 'DataScience(데이터분석)', '데이터엔지니어','비정형데이터분석', '데이터과학', 'ADsP(데이터분석준전문가', '데이터전처리', '데이터레이블링', 'pythoncrawling', '빅데이터', '빅데이터분석', '챗봇기획', '챗봇개발', '챗봇', '챗봇모델분석', '자율주행', '로봇자율주행', '자율주행차'], '데이터사이언티스트')
stack_pd_2 = stack_pd_2.replace(['데이터엔지니어링', 'DataEngineering', 'AIEngineering', 'BigDataPlatform', '데이터플랫폼', '데이터아키텍쳐', '센서데이터' , '데이터베이스개발', '데이터처리', '데이터관리', '데이터마이그레이션', '데이터베이스설계', '데이터베이스관리', 'spark', 'ApacheSpark', 'Spark', 'pyspark', 'Hive', 'apache-hive', 'hive'], '데이터엔지니어')
stack_pd_2 = stack_pd_2.replace(['Dataanalytics', 'data-analysis', '데이터시각화' ,'R데이터분석', '데이터', 'tableau', '의료데이터분석', 'A/BTesting', 'matplotlib', 'seaborn', '빅데이터분석/인프라/가시화'], '데이터애널리스트')
stack_pd_2 = stack_pd_2.replace(['CSS3', 'scss', 'Sass/scss', 'TailwindCSS', '웹퍼블리셔', 'css/scss', 'postcss' ,'css-in-js' ,'Scss' ,'#CSS3' ,'CSS-Module', 'smacss', 'UI/UX디자인', 'UI/UX', 'UI/UX설계', 'UI/UX기획', 'ui', 'ui-testing', 'SwiftUI', 'UX/UIDesign', 'webui', 'ElementUI', 'Swift/SwiftUI', 'CustomUIComponent', 'UX/UI기획', 'gui', 'UI디자인', 'CustomUIContral', 'UiPath', 'UI기획', 'SemanticUI', 'UIFramework', 'JetpackComposeUI', 'circuitdesign', 'GUI디자인'], 'CSS')
stack_pd_2 = stack_pd_2.replace(['php/laravel', 'modernphp', 'php7', 'php-7', '#php', 'composer-php' ,'#PHP개발자'], 'PHP')
stack_pd_2 = stack_pd_2.replace(['aws', 'AWSLambda', 'AWSECS', 'aws-ec2', 'aws-s3', 'AWSDynamodb' ,'AWSElasticBeanstalk' ,'awscloudfront' ,'AWSCloud' ,'AWSDataPipeline', 'AWSRoute53', 'AWSAthena', '퍼블릭클라우드(AWS', 'AWSContainer', 'AWSS3', 'aws-rds', 'awslightsail', 'AWSElasticCache(Redis)', 'AWSIAM' ,'AWSElasticLoadBalancing(ELB)' , 'AWSAuroraMySQL', 'aws-interface.com', 'AWSGlue', 'AWSPersonalize', 'aws-eb', 'AWSELB', 'AWSELB', 'awsbatch', 'AWSRDS(withMySQL)', 'AWSRekognition', 'AWSCognito', 'AWSRedshift', 'AWSEC2S3', 'awspipeline', 'AWSFargate', 'awsfirehose', 'AWSCloudFormation', 'AWSIoT', 'AWSCDK', 'AWSSagemaker', 'AmazonEC2', 'AmazonS3', 'AmazonRDS', 'AmazonEKS', 'AmazonDynamoDB', 'AmazonAurora', 'AmazonElasticBeanstalk', 'AmazonAmplify', 'AmazonRedshift', 'AmazonEMR', 'AmazonCognito', 'AmazonCloudFront', 'amazon-elb', 'AmazonElastiCache', 'AmazonKinesis', 'AmazonAPIGateway', 'AmazonCloudWatch', 'AmazonWebServices', 'AmazonElasticsearchService', 'AmazonRDSforAurora', 'AmazonRoute53'], 'AmazonAWS')
stack_pd_2 = stack_pd_2.replace(['dba', 'Database', 'MySQL', 'PostgreSQL', 'SQL', 'NoSQL', 'mssql', 'RDB/SQL' ,'DBMS(MS-SQLMySQL)' ,'SQLAlchemy' ,'my-sql' ,'ms-sql', 'RDBMSMySQL', 'pl-sql', 'Vitess(MySql)', 'NoSQL/RDBMS', 'MSSQLServer', 'DBSQL', 'dynamodb(nosql)', 'heidisql' ,'SQLite', 'GoogleCloudSQL' ,'#MySQL' ,'MicrosoftSQLServer' ,'OracleSQL' ,'DBMS(MS-SQL)' ,'SQLServer'], 'SQL')
stack_pd_2 = stack_pd_2.replace(['Node JS', 'NodeJS', 'nodejs', 'Node.jsExpress.js', 'typescript/nodejs', 'DRFNode.js'], 'Node.js')
stack_pd_2 = stack_pd_2.replace(['spring-boot', 'spring-framework', 'SpringBoot', 'JavaSpringBoot', 'spring-cloud', 'JavaSpringFramework', 'Spring-Boot', 'SpringBoot2', 'SpringMVC', 'javaspring', 'SpringWebflux', 'spring-data-jpa', 'spring-batch', 'JavaSpring', 'Java/KotlinSpringFramework(SpringBoot)', 'SpringFramework', 'SpringFramework5', 'spring-security-oauth2', 'SpringSecurity', 'Spring3.x', 'spring-jpa' ,'JAVASpringMVC' ,'springframwork', 'spring-security)', 'SpringBatch'], 'Spring')
stack_pd_2 = stack_pd_2.replace(['blockchain', 'Solidity', 'web3.js', 'hyperledgerfabric', 'Blockchain#NFT#ERC-721', 'NFT', '블록체인개발', '블록체인#이더리움#비트코인#암호화폐펀드#DeFi#디파이', '블록체인응용아키텍쳐', '블록체인인프라', '블록체인플랫폼엔지니어', '블록체인#비트코인#이더리움#NFT', '블록체인#이더리움#비트코인#NFT#디파이#DeFi', 'SpringBoot2', 'SpringMVC', 'javaspring', '블록체인컨설팅', '비트코인', '이더리움', 'ethereum', 'Ethereum', 'EthereumClientDevelopment', '코인개발', '알트코인'], '블록체인')
stack_pd_2 = stack_pd_2.replace(['python', 'python3', 'python-3', 'Python(파이썬)'], 'Python')
stack_pd_2 = stack_pd_2.replace(['GoogleCloudPlatform(GCP)', 'Jenkins', 'ZENKINS', 'AzureDevops', 'devopsengineer', 'AWSCodeDeploy','AWScodepipeline','Git/GithubAction/CICD', 'AmazonCodePipeline', 'GitLabCI/CDPipeline'], 'devops')
stack_pd_2 = stack_pd_2.replace(['Docker/Kubernetes', 'kubeflow', 'Kubernates', '쿠버네티스'], 'Kubernetes')
stack_pd_2 = stack_pd_2.replace(['docker-compose', 'dockerizing', 'docker-swarm', 'dockerhub', 'DockerOrchestration'], 'Docker')
stack_pd_2 = stack_pd_2.replace(['GitHub', 'GIt(GitHub)', 'GitLab', 'Git(gitflow)', 'GithubActions', 'gitlab-ci', 'gitbranchmerge', 'GitOps', 'git-flow', 'git(bitbucket)', 'GitHubPages', 'gitflow'], 'Git')
stack_pd_2 = stack_pd_2.replace(['vr', '가상현실(VR)', 'avr', 'AVR/ARM', 'AR/VR/MR', '360VR', 'VRgame', '가상현실', '증강현실', '증강현실(AR)', 'VirtualReality(가상현실)'], 'AR/VR')
stack_pd_2 = stack_pd_2.replace(['IoTDevice', 'RFIoT', 'azureiothub'], 'iot')
stack_pd_2 = stack_pd_2.replace(['embbed', 'embedded-c', 'embedded-linux', 'embedded-systems', 'embeddedc++', 'RTOSembedded시스템SW개발', '임베디드', '임베디드SW개발', '임베디드소프트웨어', '임베디드시스템'], 'embedded')
stack_pd_2 = stack_pd_2.replace(['유니티', '유니티3D', 'Unity(유니티)', 'unity', 'Unity', 'Unity(2D)'], 'Unity3D')
stack_pd_2 = stack_pd_2.replace(['서버개발자', '서버개발', '서버', '서버구축', '서버아키텍처및DB설계', '서버API', '서버아키텍처/DB설계', '서버관리자', '서버관리및운영', '서버보안', '서버운영', 'API서버개발', '서버구축/관리', '웹서버연동'], '서버관리')
stack_pd_2 = stack_pd_2.replace(['게임개발', '게임기획', '게임클라이언트개발', '게임엔진개발', 'IT및게임개발', '게임', '모바일게임', 'GameDevelopment', 'Game'], '게임')

In [44]:
stack_pd_2['stack'].value_counts().to_csv('data/stack_list_3.csv', encoding = 'utf-8-sig')

In [45]:
stack_pd = stack_pd.replace(['javascript', 'Javascript(ES6+)', 'Javascript(ES6)', 'JAVASCRIPT(JQUERY))', 'javacript', 'ModernJavaScript', 'Javascript(ES6/ES7)', 'javascirpt', 'Javasciprt', 'JavaScript(ES5)', 'Ajax', '#AJAX'], 'JavaScript')
stack_pd = stack_pd.replace(['HTML5', 'HTML/CSS', 'HTML&CSS3', 'html/css', 'javacript', 'Front-end개발(HTML', '웹퍼블리싱(HTML', 'HTML/pug', '#HTML5', '웹프론트엔드개발(HTML5', 'HTML·퍼블리싱·UI개발', 'HTML5/CSS3'], 'HTML')
stack_pd = stack_pd.replace(['ai', '음성인식인공지능(AI)', 'AI기획', '신사업기획(AI)', 'AIdatascientist', 'AI영상합성', 'ML/AI'], 'AI(인공지능)')
stack_pd = stack_pd.replace(['BigData', 'bigdata', '빅데이터분석'], '빅데이터')
stack_pd = stack_pd.replace(['백엔드개발', '백엔드개발자', '백엔드', '웹백엔드개발(Java/Spring/Oracle/MySQL)', '백엔드기술Java', '서버/백엔드', '백엔드개발(Node.JS)', '백엔드서버개발자', '웹백엔드', '웹백엔드개발(Python/Django)', '헤드헌팅#구인구직#구인#채용#BackEnd#백엔드#개발#MSA#API#java8#RDBMS#MySQL#Git#Jira#wiki#Docker#Kafka#Redis#React#Junit', '웹백엔드개발', 'Java#자바#백엔드', '웹백엔드개발(Java/Spring/MySQL)', '백엔드기술:Java(spring-boot', '웹백엔드(Struts', 'FlutterDartFlutter&DartSlackVue.jsGitJavaScriptTrelloNode.js' ,'JavaScript/nodeJS', 'JAVA/SPRING/JAVASCRIPT/JQUERY/AJAX', 'PythonDjango', 'pythonflask', 'ASP.NET'], 'Back-end')
stack_pd = stack_pd.replace(['웹개발', 'WebService', 'WebFront-end', '프론트엔드개발', '웹프론트엔드개발(HTML5/CSS3/JavaScript/Vue.js)', '프론트엔드', '프론트엔드개발자', '웹프론트엔드', '웹프론트엔드개발', '프론트엔드개발(HTML/CSS3/Javascript)', '프론트엔드개발(ReactJS', '프론트엔드개발(Vue.js)', '프론트개발', '프론트엔드리액트', '프론트', 'TV프론트엔드', '프론트앤드채용', 'OTT프론트엔드', '프론트앤드기획', '프론트엔드및개발(워드프레스기반)', '웹프론트엔드개발(HTML5', '프론트엔드개발(React.js)'], 'Front-end')
stack_pd = stack_pd.replace(['풀스택개발자', '풀스택', 'fullstack', 'full-stackdevelopment', 'Full-stackDeveloper', 'Full-stackEngineer', 'fullstackweb', 'FullstackDevelopment'], '풀스택개발')
stack_pd = stack_pd.replace(['AOS앱개발', 'Android앱개발', 'RxAndroid', 'AndroidStudio', 'rx-android', 'Android-Java', 'AndroidNDK', 'android-wear', 'AndroidSDK', 'AndroidNative', 'Android앱', 'android-camera', 'AndroidX', 'android앱개발', 'android-ui', 'android-recyclerview', 'android플랫폼', 'android-api', 'android-library', 'AndroidArchitectureComponents', '안드로이드앱개발', '안드로이드개발', '안드로이드', '안드로이드개발자'], 'Android')
stack_pd = stack_pd.replace(['ios앱개발', 'iOSDeveloper', 'ios-sdk', 'ios-autolayout', 'ios개발자', 'iOS앱개발', 'iOS/AOS', 'ios-frameworks', 'IOS개발', 'iOS_Developer#Swift#RestAPI', 'swift-ios'], 'iOS')
stack_pd = stack_pd.replace(['Tensorflow', 'TensorFlowLite', '텐서플로우'], 'TensorFlow')
stack_pd = stack_pd.replace(['MachineLearning(머신러닝)', 'Keras등머신러닝/딥러닝', '머신러닝NLP', 'MachineLearning', 'machine-learning', 'MachineLearning(머신러닝)' ,'AzureMachineLearning' ,'MachineLearning/DeepLearning' ,'machine-vision' ,'Neuralmachinetranslation', 'QuantDeveloper'], '머신러닝')
stack_pd = stack_pd.replace(['DeepLearning(딥러닝)', '딥러닝이미지분석', 'saas', '데이터분석/딥러닝모델개발', 'deep-learning', 'ML/DeepLearning', 'DeepLearning' ,'deepspeech' ,'Deep-learningGAN' ,'영상처리영상인식DeepLearningNeuralNetwork패턴인식TensorFlowTheano' ,'deeplearningaccelerator', 'deeplearing', 'Deep Learning (딥러닝)', 'Keras 등 머신러닝/딥러닝 ', 'tts', 'STT', 'wav2vec'], '딥러닝')
stack_pd = stack_pd.replace(['데이터분석', '데이터사이언스', '데이터모델링' ,'데이터베이스' ,'데이터사이언티스트' ,'데이터마이닝', '빅데이터마이닝', 'DataScience(데이터분석)', '데이터엔지니어','비정형데이터분석', '데이터과학', 'ADsP(데이터분석준전문가', '데이터전처리', '데이터레이블링', 'pythoncrawling', '빅데이터', '빅데이터분석', '챗봇기획', '챗봇개발', '챗봇', '챗봇모델분석', '자율주행', '로봇자율주행', '자율주행차'], '데이터사이언티스트')
stack_pd = stack_pd.replace(['데이터엔지니어링', 'DataEngineering', 'AIEngineering', 'BigDataPlatform', '데이터플랫폼', '데이터아키텍쳐', '센서데이터' , '데이터베이스개발', '데이터처리', '데이터관리', '데이터마이그레이션', '데이터베이스설계', '데이터베이스관리', 'spark', 'ApacheSpark', 'Spark', 'pyspark', 'Hive', 'apache-hive', 'hive'], '데이터엔지니어')
stack_pd = stack_pd.replace(['Dataanalytics', 'data-analysis', '데이터시각화' ,'R데이터분석', '데이터', 'tableau', '의료데이터분석', 'A/BTesting', 'matplotlib', 'seaborn', '빅데이터분석/인프라/가시화'], '데이터애널리스트')
stack_pd = stack_pd.replace(['CSS3', 'scss', 'Sass/scss', 'TailwindCSS', '웹퍼블리셔', 'css/scss', 'postcss' ,'css-in-js' ,'Scss' ,'#CSS3' ,'CSS-Module', 'smacss', 'UI/UX디자인', 'UI/UX', 'UI/UX설계', 'UI/UX기획', 'ui', 'ui-testing', 'SwiftUI', 'UX/UIDesign', 'webui', 'ElementUI', 'Swift/SwiftUI', 'CustomUIComponent', 'UX/UI기획', 'gui', 'UI디자인', 'CustomUIContral', 'UiPath', 'UI기획', 'SemanticUI', 'UIFramework', 'JetpackComposeUI', 'circuitdesign', 'GUI디자인'], 'CSS')
stack_pd = stack_pd.replace(['php/laravel', 'modernphp', 'php7', 'php-7', '#php', 'composer-php' ,'#PHP개발자'], 'PHP')
stack_pd = stack_pd.replace(['aws', 'AWSLambda', 'AWSECS', 'aws-ec2', 'aws-s3', 'AWSDynamodb' ,'AWSElasticBeanstalk' ,'awscloudfront' ,'AWSCloud' ,'AWSDataPipeline', 'AWSRoute53', 'AWSAthena', '퍼블릭클라우드(AWS', 'AWSContainer', 'AWSS3', 'aws-rds', 'awslightsail', 'AWSElasticCache(Redis)', 'AWSIAM' ,'AWSElasticLoadBalancing(ELB)' , 'AWSAuroraMySQL', 'aws-interface.com', 'AWSGlue', 'AWSPersonalize', 'aws-eb', 'AWSELB', 'AWSELB', 'awsbatch', 'AWSRDS(withMySQL)', 'AWSRekognition', 'AWSCognito', 'AWSRedshift', 'AWSEC2S3', 'awspipeline', 'AWSFargate', 'awsfirehose', 'AWSCloudFormation', 'AWSIoT', 'AWSCDK', 'AWSSagemaker', 'AmazonEC2', 'AmazonS3', 'AmazonRDS', 'AmazonEKS', 'AmazonDynamoDB', 'AmazonAurora', 'AmazonElasticBeanstalk', 'AmazonAmplify', 'AmazonRedshift', 'AmazonEMR', 'AmazonCognito', 'AmazonCloudFront', 'amazon-elb', 'AmazonElastiCache', 'AmazonKinesis', 'AmazonAPIGateway', 'AmazonCloudWatch', 'AmazonWebServices', 'AmazonElasticsearchService', 'AmazonRDSforAurora', 'AmazonRoute53'], 'AmazonAWS')
stack_pd = stack_pd.replace(['dba', 'Database', 'MySQL', 'PostgreSQL', 'SQL', 'NoSQL', 'mssql', 'RDB/SQL' ,'DBMS(MS-SQLMySQL)' ,'SQLAlchemy' ,'my-sql' ,'ms-sql', 'RDBMSMySQL', 'pl-sql', 'Vitess(MySql)', 'NoSQL/RDBMS', 'MSSQLServer', 'DBSQL', 'dynamodb(nosql)', 'heidisql' ,'SQLite', 'GoogleCloudSQL' ,'#MySQL' ,'MicrosoftSQLServer' ,'OracleSQL' ,'DBMS(MS-SQL)' ,'SQLServer'], 'SQL')
stack_pd = stack_pd.replace(['Node JS', 'NodeJS', 'nodejs', 'Node.jsExpress.js', 'typescript/nodejs', 'DRFNode.js'], 'Node.js')
stack_pd = stack_pd.replace(['spring-boot', 'spring-framework', 'SpringBoot', 'JavaSpringBoot', 'spring-cloud', 'JavaSpringFramework', 'Spring-Boot', 'SpringBoot2', 'SpringMVC', 'javaspring', 'SpringWebflux', 'spring-data-jpa', 'spring-batch', 'JavaSpring', 'Java/KotlinSpringFramework(SpringBoot)', 'SpringFramework', 'SpringFramework5', 'spring-security-oauth2', 'SpringSecurity', 'Spring3.x', 'spring-jpa' ,'JAVASpringMVC' ,'springframwork', 'spring-security)', 'SpringBatch'], 'Spring')
stack_pd = stack_pd.replace(['blockchain', 'Solidity', 'web3.js', 'hyperledgerfabric', 'Blockchain#NFT#ERC-721', 'NFT', '블록체인개발', '블록체인#이더리움#비트코인#암호화폐펀드#DeFi#디파이', '블록체인응용아키텍쳐', '블록체인인프라', '블록체인플랫폼엔지니어', '블록체인#비트코인#이더리움#NFT', '블록체인#이더리움#비트코인#NFT#디파이#DeFi', 'SpringBoot2', 'SpringMVC', 'javaspring', '블록체인컨설팅', '비트코인', '이더리움', 'ethereum', 'Ethereum', 'EthereumClientDevelopment', '코인개발', '알트코인'], '블록체인')
stack_pd = stack_pd.replace(['python', 'python3', 'python-3', 'Python(파이썬)'], 'Python')
stack_pd = stack_pd.replace(['CI/CD', 'CI/CDAutomation', 'CI/CD및자동화개발', 'GoogleCloudPlatform(GCP)', 'Jenkins', 'ZENKINS', 'AzureDevops', 'devopsengineer', 'AWSCodeDeploy','AWScodepipeline','Git/GithubAction/CICD', 'AmazonCodePipeline', 'GitLabCI/CDPipeline'], 'devops')
stack_pd = stack_pd.replace(['Docker/Kubernetes', 'kubeflow', 'Kubernates', '쿠버네티스'], 'Kubernetes')
stack_pd = stack_pd.replace(['docker-compose', 'dockerizing', 'docker-swarm', 'dockerhub', 'DockerOrchestration'], 'Docker')
stack_pd = stack_pd.replace(['GitHub', 'GIt(GitHub)', 'GitLab', 'Git(gitflow)', 'GithubActions', 'gitlab-ci', 'gitbranchmerge', 'GitOps', 'git-flow', 'git(bitbucket)', 'GitHubPages', 'gitflow'], 'Git')
stack_pd = stack_pd.replace(['vr', '가상현실(VR)', 'avr', 'AVR/ARM', 'AR/VR/MR', '360VR', 'VRgame', '가상현실', '증강현실', '증강현실(AR)', 'VirtualReality(가상현실)'], 'AR/VR')
stack_pd = stack_pd.replace(['IoTDevice', 'RFIoT', 'azureiothub'], 'iot')
stack_pd = stack_pd.replace(['embbed', 'embedded-c', 'embedded-linux', 'embedded-systems', 'embeddedc++', 'RTOSembedded시스템SW개발', '임베디드', '임베디드SW개발', '임베디드소프트웨어', '임베디드시스템'], 'embedded')
stack_pd = stack_pd.replace(['유니티', '유니티3D', 'Unity(유니티)', 'unity', 'Unity', 'Unity(2D)'], 'Unity3D')
stack_pd = stack_pd.replace(['서버개발자', '서버개발', '서버', '서버구축', '서버아키텍처및DB설계', '서버API', '서버아키텍처/DB설계', '서버관리자', '서버관리및운영', '서버보안', '서버운영', 'API서버개발', '서버구축/관리', '웹서버연동'], '서버관리')
stack_pd = stack_pd.replace(['게임개발', '게임기획', '게임클라이언트개발', '게임엔진개발', 'IT및게임개발', '게임', '모바일게임', 'GameDevelopment', 'Game'], '게임')

In [46]:
dev_stack_list = []
for i in range(0,len(stack_pd)):
    stack = []
    for j in stack_pd.loc[i,:]:
        if j == None:
            break
        stack.append(j)
    dev_stack_list.append(','.join(stack))

In [47]:
dev_data['관련전문기술_label'] = pd.Series(dev_stack_list)

In [48]:
Front_end = ['Front-end', 'HTML', 'JavaScript', 'CSS', 'Android', 'Java', 'React', 'jQuery', 'Node.js', 'Redux', 'Vue.js', 'Spring', 'TypeScript', 'AngularJS', 'Bootstrap']
Back_end = ['Apache', 'AmazonAWS', 'Back-end', 'SQL', 'JavaScript', 'Android', 'Java', 'PHP', 'Flask', '서버관리', 'MongoDB', 'React.js', 'Django', 'Spring', 'RESTful-api', 'Redis', 'RESTAPI', 'Firebase', 'RubyOnRails', 'ASP.NET']
Full_stack = ['풀스택개발']
Mobile = ['Android', 'Kotilin', 'Java', '코틀린', '모바일앱개발', 'Flutter', '어플리케이션개발', 'Flutter&Dart', '모바일게임개발' , 'react-native', 'iOS', 'Swift', '아이폰개발자',' Swift개발경험자', 'RxSwift', 'iPhone', '모바일앱개발']
D_Scientist = ['Data' 'SQL', 'Python', 'OpenCV', '딥러닝', '머신러닝', 'TensorFlow', 'AI(인공지능)', 'PyTorch', '인공지능', 'computer-vision', 'NLP', 'DataScience', '컴퓨터비전', '데이터사이언티스트']
D_Analyst = ['Data', 'Python', 'R', '데이터애널리스트', '머신러닝']
D_Engineer = ['Data', 'SQL', 'Kafka', 'rdbms', 'Sass', 'Hadoop', '데이터엔지니어', '빅데이터']
Devops = ['devops', 'Kubernetes', 'Docker']
Game = ['C#', 'Unity3D', '게임', 'AR/VR', '유니티3D']
IOT = ['Arduino', 'embedded']
Blockchain = ['블록체인']

In [49]:
stack_label = []
ddd = []
for i in range(0, len(dev_data)):
    count = {'front' : 0, 'back' : 0, 'full' : 0, 'mobile' : 0,'game' : 0, 'block' : 0, 'd_sci': 0,
             'd_anal' : 0, 'd_eng' : 0, 'devops' : 0, 'iot' : 0}
    if '풀스택개발' in dev_data['관련전문기술_label'][i]:
        stack_label.append('Full-stack')
        continue
    for j in dev_data['관련전문기술_label'][i].split(','):
        if j in Front_end:
            count['front'] += 1
        if j in Back_end:
            count['back'] += 1
        if j in Full_stack:
            count['full'] += 1
        if j in Mobile:
            count['mobile'] +=1
        if j in D_Scientist:
            count['d_sci'] += 1
        if j in D_Analyst:
            count['d_anal'] += 1
        if j in D_Engineer:
            count['d_eng'] += 1
        if j in Game:
            count['game'] += 1
        if j in Blockchain:
            count['block'] += 1
        if j in IOT:
            count['iot'] += 1
        if j in Devops:
            count['devops'] += 1
    cnt = [k for k,v in count.items() if max(count.values()) == v]
    if len(cnt) >= 2:
        ddd.append(cnt)

In [50]:
for i in range(len(ddd)):
    ddd[i] = str(ddd[i])
pd.DataFrame(ddd, columns = ['stack'])['stack'].unique()

array(["['front', 'back']", "['front', 'back', 'mobile']",
       "['front', 'back', 'full', 'mobile', 'game', 'block', 'd_sci', 'd_anal', 'd_eng', 'devops', 'iot']",
       "['back', 'devops']", "['d_sci', 'd_anal']",
       "['front', 'back', 'd_eng']",
       "['front', 'back', 'd_sci', 'd_anal']", "['front', 'mobile']",
       "['back', 'd_sci', 'd_eng']", "['game', 'd_sci']",
       "['back', 'mobile']", "['d_sci', 'iot']",
       "['front', 'back', 'mobile', 'game']", "['back', 'd_eng']",
       "['back', 'd_sci', 'd_anal']", "['front', 'd_sci', 'd_anal']",
       "['front', 'devops']", "['back', 'd_sci']",
       "['back', 'game', 'd_eng']",
       "['back', 'game', 'd_sci', 'd_anal', 'devops']",
       "['game', 'd_sci', 'd_anal']", "['d_sci', 'd_anal', 'devops']",
       "['back', 'd_sci', 'd_anal', 'devops']", "['back', 'block']",
       "['back', 'game']", "['front', 'block']",
       "['front', 'back', 'devops']",
       "['front', 'back', 'mobile', 'd_sci', 'd_anal']",
       "['back', 'game', 'd_sci', 'd_anal']",
       "['front', 'back', 'mobile', 'd_sci', 'd_anal', 'devops']",
       "['mobile', 'd_sci']", "['d_sci', 'd_eng']", "['mobile', 'game']",
       "['front', 'd_sci', 'd_anal', 'devops']",
       "['d_sci', 'd_anal', 'iot']",
       "['front', 'back', 'mobile', 'game', 'd_sci', 'd_anal']",
       "['front', 'back', 'd_sci', 'd_anal', 'd_eng']",
       "['front', 'back', 'game', 'd_eng']",
       "['back', 'd_sci', 'd_anal', 'd_eng', 'devops']",
       "['back', 'mobile', 'd_sci', 'd_anal']",
       "['back', 'd_sci', 'd_anal', 'd_eng']",
       "['front', 'back', 'd_sci']", "['back', 'mobile', 'game']",
       "['d_sci', 'd_anal', 'd_eng']",
       "['front', 'back', 'mobile', 'd_sci']", "['front', 'back', 'iot']",
       "['back', 'd_sci', 'devops']", "['front', 'back', 'block']",
       "['d_sci', 'd_eng', 'devops']", "['game', 'iot']"], dtype=object)

In [51]:
stack_label = []
for i in range(0, len(dev_data)):
    count = {'front' : 0, 'back' : 0, 'full' : 0, 'mobile' : 0,'game' : 0, 'block' : 0, 'd_sci': 0,
             'd_anal' : 0, 'd_eng' : 0, 'devops' : 0, 'iot' : 0}
    if '풀스택개발' in dev_data['관련전문기술_label'][i]:
        stack_label.append('Full-stack')
        continue
    for j in dev_data['관련전문기술_label'][i].split(','):
        if j in Front_end:
            count['front'] += 1
        if j in Back_end:
            count['back'] += 1
        if j in Full_stack:
            count['full'] += 1
        if j in Mobile:
            count['mobile'] +=1
        if j in D_Scientist:
            count['d_sci'] += 1
        if j in D_Analyst:
            count['d_anal'] += 1
        if j in D_Engineer:
            count['d_eng'] += 1
        if j in Game:
            count['game'] += 1
        if j in Blockchain:
            count['block'] += 1
        if j in IOT:
            count['iot'] += 1
        if j in Devops:
            count['devops'] += 1
    cnt = [k for k,v in count.items() if max(count.values()) == v]
    if len(cnt) > 6:
        stack_label.append('기타')
        continue
    if 2 <= len(cnt) < 7 and 'front' in cnt and 'back' in cnt:
        stack_label.append('Full-stack')
        continue
    if 2 <= len(cnt) < 6 and 'front' in cnt:
        stack_label.append('Front-end')
        continue
    if 2 <= len(cnt) < 6 and 'back' in cnt:
        stack_label.append('Back-end')    
        continue
    if len(cnt) == 2 and 'mobile' in cnt:
        stack_label.append('Mobile')    
        continue   
    if 1 < len(cnt) < 4 and 'game' in cnt:
        stack_label.append('Game')    
        continue
    if 1 < len(cnt) < 4 and 'iot' in cnt:
        stack_label.append('IOT')    
        continue
    if 1 < len(cnt) < 4 and 'd_eng' in cnt:
        stack_label.append('Data_Engineer')    
        continue
    if 1 < len(cnt) < 4 and 'devops' in cnt:
        stack_label.append('Devops')   
        continue    
    if 1 < len(cnt) < 4 and 'd_sci' in cnt:
        stack_label.append('Data_Scientist')   
        continue    
    if 'front' in cnt:
        stack_label.append('Front-end')
        continue
    if 'back' in cnt:
        stack_label.append('Back-end')
        continue
    if 'mobile' in cnt:
        stack_label.append('Mobile')
        continue
    if 'd_sci' in cnt:
        stack_label.append('Data_Scientist')
        continue
    if 'd_anal' in cnt:
        stack_label.append('Data_Analyst')
        continue
    if 'd_eng' in cnt:
        stack_label.append('Data_Engineer')
        continue
    if 'game' in cnt:
        stack_label.append('Game')
        continue
    if 'block' in cnt:
        stack_label.append('Block-Chain')
        continue
    if 'iot' in cnt:
        stack_label.append('IOT')
        continue
    if 'devops' in cnt:
        stack_label.append('Devops')
        continue

In [52]:
print(len(dev_data))
print(len(stack_label))
pd.DataFrame(stack_label)[0].value_counts()

3350
3350

Back-end          956
Front-end         734
Full-stack        647
Data_Scientist    387
Mobile            322
기타                116
Game               65
Devops             50
Data_Engineer      23
IOT                20
Block-Chain        20
Data_Analyst       10
Name: 0, dtype: int64

In [53]:
dev_data['stack_label'] = pd.Series(stack_label)

In [54]:
dev_data.drop(columns = ['기술스택명', '관련전문기술명', '관련전문기술_label'], inplace=True)

In [55]:
dev_data.head(5)

,기업일련번호,업체국문명,채용일련번호,채용분야명,경력구분명,고용형태명,연봉최소금액,연봉최대금액,경력,신입,인턴,풀타임,파트타임,프리랜서,병역대체,관련전문기술,stack_label
0,122278,3J,104471,SW 개발,경력,풀타임,3000,5000,1,0,0,1,0,0,0,"[MySQL, aws, NodeJS]",Back-end
1,122278,3J,104467,SW 개발,경력,풀타임,3000,5000,1,0,0,1,0,0,0,"[Java, CSS, HTML, ExpressJS]",Front-end
2,160805,(주)빅팟,113668,SW 개발,인턴||경력||신입,풀타임,5000,6000,1,1,1,1,0,0,0,"[Node.js, 풀스택개발, Back-end, Git, React, AmazonA...",Full-stack
3,160459,(주)서브원,113184,SW 개발,경력,풀타임,5000,10000,1,0,0,1,0,0,0,"[Java, Spring, SQL, HTML/CSS]",Full-stack
4,147068,(주)메일플러그,97765,SW 개발,경력||신입,풀타임,4400,0,1,1,0,1,0,0,0,"[Android, iOS, Kotlin, Swift, RxSwift, MVVM, X...",Mobile

In [58]:
dev_data['관련전문기술'] = dev_data['관련전문기술'].astype('str')

In [60]:
for i in range(len(dev_data['관련전문기술'])):
    dev_data['관련전문기술'][i] = dev_data['관련전문기술'][i].replace("[", "")
    dev_data['관련전문기술'][i] = dev_data['관련전문기술'][i].replace("]", "")
    dev_data['관련전문기술'][i] = dev_data['관련전문기술'][i].replace("'", '')

In [64]:
dev_data.head()

,기업일련번호,업체국문명,채용일련번호,채용분야명,경력구분명,고용형태명,연봉최소금액,연봉최대금액,경력,신입,인턴,풀타임,파트타임,프리랜서,병역대체,관련전문기술,stack_label
0,122278,3J,104471,SW 개발,경력,풀타임,3000,5000,1,0,0,1,0,0,0,"MySQL, aws, NodeJS",Back-end
1,122278,3J,104467,SW 개발,경력,풀타임,3000,5000,1,0,0,1,0,0,0,"Java, CSS, HTML, ExpressJS",Front-end
2,160805,(주)빅팟,113668,SW 개발,인턴||경력||신입,풀타임,5000,6000,1,1,1,1,0,0,0,"Node.js, 풀스택개발, Back-end, Git, React, AmazonAW...",Full-stack
3,160459,(주)서브원,113184,SW 개발,경력,풀타임,5000,10000,1,0,0,1,0,0,0,"Java, Spring, SQL, HTML/CSS",Full-stack
4,147068,(주)메일플러그,97765,SW 개발,경력||신입,풀타임,4400,0,1,1,0,1,0,0,0,"Android, iOS, Kotlin, Swift, RxSwift, MVVM, Xc...",Mobile

In [65]:
for i in range(len(dev_data)):
    dev_data['경력구분명'][i] = dev_data['경력구분명'][i].replace("||", ", ")
    dev_data['고용형태명'][i] = dev_data['고용형태명'][i].replace("||", ", ")

In [66]:
dev_data.head()

,기업일련번호,업체국문명,채용일련번호,채용분야명,경력구분명,고용형태명,연봉최소금액,연봉최대금액,경력,신입,인턴,풀타임,파트타임,프리랜서,병역대체,관련전문기술,stack_label
0,122278,3J,104471,SW 개발,경력,풀타임,3000,5000,1,0,0,1,0,0,0,"MySQL, aws, NodeJS",Back-end
1,122278,3J,104467,SW 개발,경력,풀타임,3000,5000,1,0,0,1,0,0,0,"Java, CSS, HTML, ExpressJS",Front-end
2,160805,(주)빅팟,113668,SW 개발,"인턴, 경력, 신입",풀타임,5000,6000,1,1,1,1,0,0,0,"Node.js, 풀스택개발, Back-end, Git, React, AmazonAW...",Full-stack
3,160459,(주)서브원,113184,SW 개발,경력,풀타임,5000,10000,1,0,0,1,0,0,0,"Java, Spring, SQL, HTML/CSS",Full-stack
4,147068,(주)메일플러그,97765,SW 개발,"경력, 신입",풀타임,4400,0,1,1,0,1,0,0,0,"Android, iOS, Kotlin, Swift, RxSwift, MVVM, Xc...",Mobile

In [69]:
dev_data = dev_data[['기업일련번호', '채용일련번호', '업체국문명', '경력구분명', '고용형태명', '연봉최소금액', '연봉최대금액', '경력', '신입', '인턴', '풀타임', '파트타임', '프리랜서', '병역대체', '관련전문기술', 'stack_label']]

In [70]:
dev_data.to_csv("data/dev_data.csv", encoding='utf-8-sig', index = False)